@using FrontendTasks.Controllers
@{
    if ( @ViewBag.result=="true")
    {
        <div class="text-center">
            <h1 class="display-4">Eliminado Correctamente!</h1>
        </div>

    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">No pudo ser Eliminado!</h1>
        </div>

    }
}

